*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-size: 18px;
}

.container {
  background-color: #dadada;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.preview {
  height: 300px;
  width: 300px;
  margin: 25px 25px 0 25px;
  background-position: center;
}

.baku {
  background-image: url(./../images/baku.jpg);
  background-size: cover;
}

.london {
  background-image: url(./../images/london.png);
  background-size: cover;
}

.madrid {
  background-image: url(./../images/madrid.jpg);
  background-size: cover;
}

.rome {
  background-image: url(./../images/rome.jpg);
  background-size: cover;
}
