body {
  background-color: #FAFAFA;
  font-size: 18px;
}

.container {
  margin: auto;
  margin-top: 25px;
  text-align: center;
  width: 25%;
  background-color: #dadada;
}

img {
  height: auto;
  width: 100%;
}

.title {
  margin-top: 20px;
}
