*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-size: 18px;
}

.container {
  background-color: #dadada;
  text-align: center;
  width: 25%;
  margin: 25px auto 25px auto;
  padding: 25px;
  display: block;
}

.baku {
  background-image: url(./../images/baku.jpg);
  padding: inherit;
  margin: 25px 0 25px 0;
  background-size: 100% 100%;
}

.london {
  background-image: url(./../images/london.png);
  padding: inherit;
  margin: 25px 0 25px 0;
  background-size: 100% 100%;
}

.madrid {
  background-image: url(./../images/madrid.jpg);
  padding: inherit;
  margin: 25px 0 25px 0;
  background-size: 100% 100%;
}

.rome {
  background-image: url(./../images/rome.jpg);
  padding: inherit;
  margin: 25px 0 25px 0;
  background-size: 100% 100%;
}
